@import helper._
@(addFixtureForm: Form[models.Fixture], user: models.users.User)
@admin.adminMain("Add Fixture", user) {
	<h3>Add a new Fixture</h3>
	
	@form(action = routes.AdminController.addFixtureSubmit(), 'class -> "form-horizontal", 'role->"form"){
		@inputText(addFixtureForm("fid"), '_label -> "FixtureID", 'hidden -> "hidden")
		@inputText(addFixtureForm("date"), '_label -> "Date", 'class -> "form-control")
		@inputText(addFixtureForm("time"), '_label -> "Time", 'class -> "form-control")		
		@inputText(addFixtureForm("home_score_point"), '_label -> "Home Point", 'class -> "form-control")
		@inputText(addFixtureForm("home_team"), '_label -> "Home Team", 'class -> "form-control")
		@inputText(addFixtureForm("home_score_goal"), '_label -> "Home Goal", 'class -> "form-control")
		@inputText(addFixtureForm("home_score"), '_label -> "Home Team Score", 'class -> "form-control")
		@inputText(addFixtureForm("away_team"), '_label -> "Away Team", 'class -> "form-control")
		@inputText(addFixtureForm("away_score_point"), '_label -> "Away Point", 'class -> "form-control")
		@inputText(addFixtureForm("away_score_goal"), '_label -> "Away Goal", 'class -> "form-contol")
		@inputText(addFixtureForm("away_team_score"), '_label -> "Away Team Score", 'class -> "form-control")
		@inputText(addFixtureForm("home_yellows"), '_label -> "Home Yellow", 'class -> "form-control")
		@inputText(addFixtureForm("home_blacks"), '_label -> "Home Black", 'class -> "form-control")
		@inputText(addFixtureForm("home_reds"), '_label -> "Home Red", 'class -> "form-control")
		@inputText(addFixtureForm("away_yellows"), '_label -> "Away Yellow", 'class -> "form-control")
		@inputText(addFixtureForm("away_blacks"), '_label -> "Away Black", 'class -> "form-control")
		@inputText(addFixtureForm("away_reds"), '_label -> "Away Red", 'class -> "form-control")

		
	<div class="actions">
		<input type="submit" value="Add Fixture" class="btn btn-primary">
			<a href="@routes.AdminController.fixture()"
				<button class="btn btn-warning">Cancel</button>
			</a>
	</div>
	}
}