@import helper._
@(addPlayerForm: Form[models.Player], user: models.users.User)
@admin.adminMain("Add Player", user) {
	<h3>Add a new Player</h3>
	
	@form(action = routes.AdminController.addPlayerSubmit(), 'class -> "form-horizontal", 'role->"form") {
		@inputText(addPlayerForm("pid"), '_label -> "PlayerID", 'hidden -> "hidden")
		@inputText(addPlayerForm("num"), '_label -> "Number", 'class -> "form-control")
		@inputText(addPlayerForm("fname"), '_label -> "First Name", 'class -> "form-control")
		@inputText(addPlayerForm("lname"), '_label -> "Last Name", 'class -> "form-control")
		@inputText(addPlayerForm("pos"), '_label -> "Position", 'class -> "form-control")
		@inputText(addPlayerForm("club"), '_label -> "Club", 'class -> "form-control")
		@inputText(addPlayerForm("county"), '_label -> "County", 'class -> "form-control")
		@inputText(addPlayerForm("age"), '_label -> "Age", 'class -> "form-control")
		@inputText(addPlayerForm("apps"), '_label -> "Apperances", 'class -> "form-control")
		@inputText(addPlayerForm("points"), '_label -> "Points Scored", 'class -> "form-control")
		@inputText(addPlayerForm("yellows"), '_label -> "Yellow Cards", 'class -> "form-control")
		@inputText(addPlayerForm("blacks"), '_label -> "Black Cards", 'class -> "form-control")
		@inputText(addPlayerForm("reds"), '_label -> "Red Cards", 'class -> "form-control")


	<div class="actions">
		<input type="submit" value="Add Player" class="btn btn-primary">
			<a href="@routes.HomeController.index()"
				<button class="btn btn-warning">Cancel</button>
			</a>
	</div>
	}
}
