@import helper._
@(addRefereeForm: Form[models.Referee], user: models.users.User)
@admin.adminMain("Add Referee", user) {
	<h3>Add a new Referee</h3>
	
	@form(action = routes.AdminController.addRefereeSubmit(), 'class -> "form-horizontal", 'role->"form") {
		@inputText(addRefereeForm("tid"), '_label -> "Referee ID", 'hidden -> "hidden")
		@inputText(addRefereeForm("name"), '_label -> "Name", 'class -> "form-control")
		@inputText(addRefereeForm("county"), '_label -> "County", 'class -> "form-control")

		@inputText(addRefereeForm("tid"), '_label -> "RefereeID", 'hidden -> "hidden")
		
	<div class="actions">
		<input type="submit" value="Add Referee" class="btn btn-primary">
			<a href="@routes.HomeController.index()"
				<button class="btn btn-warning">Cancel</button>
			</a>
	</div>
	}
}
