@import helper._
@(addTeamForm: Form[models.Team], user: models.users.User)
@admin.adminMain("Add Team", user) {
	<h3>Add a new Team</h3>
	
	@form(action = routes.AdminController.addTeamSubmit(), 'class -> "form-horizontal", 'role->"form") {
		@inputText(addTeamForm("tid"), '_label -> "Team ID", 'hidden -> "hidden")
		@inputText(addTeamForm("name"), '_label -> "Name", 'class -> "form-control")
		@inputText(addTeamForm("prov"), '_label -> "Province", 'class -> "form-control")
		@inputText(addTeamForm("manager"), '_label -> "Manager", 'class -> "form-control")
		@inputText(addTeamForm("stadium"), '_label -> "Stadium", 'class -> "form-control")
		@inputText(addTeamForm("games_played"), '_label -> "Games Played", 'class -> "form-control")
		@inputText(addTeamForm("games_won"), '_label -> "Games Won", 'class -> "form-control")
		@inputText(addTeamForm("games_drew"), '_label -> "Games Drawn", 'class -> "form-control")
		@inputText(addTeamForm("games_lost"), '_label -> "Games Lost", 'class -> "form-control")
		@inputText(addTeamForm("points_for"), '_label -> "Points For", 'class -> "form-control")
		@inputText(addTeamForm("points_against"), '_label -> "Points Against", 'class -> "form-control")
		@inputText(addTeamForm("league_points"), '_label -> "League Points", 'class -> "form-control")
		@inputText(addTeamForm("yellows"), '_label -> "Yellow Cards", 'class -> "form-control")
		@inputText(addTeamForm("blacks"), '_label -> "Black Cards", 'class -> "form-control")
		@inputText(addTeamForm("reds"), '_label -> "Red Cards", 'class -> "form-control")

		
	<div class="actions">
		<input type="submit" value="Add Team" class="btn btn-primary">
			<a href="@routes.HomeController.index()"
				<button class="btn btn-warning">Cancel</button>
			</a>
	</div>
	}
}
