@(user: models.users.User)

@admin.adminMain("adminIndex", user) {
    <!-- Page Content -->
    <div class="container">
        <!-- /.row -->
     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">

            
                <div class="col-lg-3">
                        
                                <div class="Image">
                                   <a href="@routes.AdminController.fixture()"> <img src="@routes.Assets.versioned("images/game.jpg ")" draggable="false" height="150px" width="248px">
                                </div>

                                    <div class="Description">
                                       <h3> Fixtures</h3> </a>
                                    </div>
            
                        

                    </div>
                       
                   <div class="col-lg-3">
                    

                                <div class="Image">
                                    <a href="@routes.AdminController.referee()"> <img src="@routes.Assets.versioned("images/ref.jpg ")" draggable="false" height="150px" width="248px">
                                </div>

                                    <div class="Description">
                                       <h3> Referees</h3> </a>
                                    </div>

                    
                    </div>

                    <div class="col-lg-3">
                        

                                <div class="Image">
                                 <a href="@routes.AdminController.player()"> <img src="@routes.Assets.versioned("images/dubplayer.jpg ")" draggable="false" height="150px" width="248px">
                                </div>

                                    <div class="Description">
                                       <h3> Player</h3> </a>
                                    </div>
                    </div>
                
                    <div class="col-lg-3">

                                <div class="Image">
                                   <a href="@routes.AdminController.team()"> <img src="@routes.Assets.versioned("images/team.jpg ")" draggable="false" height="150px" width="248px">
                                </div>

                                    <div class="Description">
                                       <h3> Team</h3> </a>
                                    </div>
                    </div>
                
	<!--<div class="actions">
		<input type="submit" value="Home Point" class="btn btn-primary">
		
				<button class="btn btn-warning">Cancel</button>
			</a>
	</div>

    <div>
            <h1> @team </h1>
     </div>-->
            </div>
        </div>
}