@(RossCavan: List[models.Fixture], user: models.users.User)

@admin.adminMain("LiveGame", user) {
    <!-- Page Content -->
    <div class="container">
				@for(ls <- RossCavan) {
			<h1>@ls.getHomeTeam 	<a id="clickHomeGoal">0</a> - <a id="clickHomePoint">0</a>  (<a id="totalHome">0</a>) vs @ls.getAwayTeam 	<a id="clickAwayGoal">0</a> - <a id="clickAwayPoint">0</a> (<a id="totalAway">0</a>)</h1>

        <div class="LeftPlayerStats">
				

				

        <div class="actions">

			<script type="text/javascript">
				var clickHomeGoal = 0;
				var clickHomePoint = 0;

				var clickAwayGoal = 0;
				var clickAwayPoint = 0;

				var totalHome = 0;
				var totalAway = 0;
				
				var homeGoals = 0;
				var homePoints = 0;

				var awayGoals = 0;
				var awayPoints = 0;

				var homeTally =0;
				var awayTally =0;

				var homeYellow =0;
				var awayYellow =0;

				var homeBlack =0;
				var awayBlack =0;

				var homeRed =0;
				var awayRed =0;


				function incHomeGoal() {
					clickHomeGoal +=1;
					totalHome +=3;
					homeTally +=3;
					homeGoals +=1;

					document.getElementById("clickHomeGoal").innerHTML = clickHomeGoal;
					document.getElementById("totalHome").innerHTML = totalHome;
					document.getElementById("homeGoals").innerHTML = homeGoals;
					document.getElementById("homeTally").innerHTML = homeTally;
				};

				function decHomeGoal() {
					clickHomeGoal -=1;
					totalHome -=3;
					homeTally -=3;
					homeGoals -=1;

					document.getElementById("clickHomeGoal").innerHTML = clickHomeGoal;
					document.getElementById("totalHome").innerHTML = totalHome;
					document.getElementById("homeGoals").innerHTML = homeGoals;
					document.getElementById("homeTally").innerHTML = homeTally;
				};

				function incHomePoint() {
					clickHomePoint +=1;
					totalHome +=1;
					homeTally +=1;
					homePoints +=1;

					document.getElementById("clickHomePoint").innerHTML = clickHomePoint;
					document.getElementById("totalHome").innerHTML = totalHome;
					document.getElementById("homePoints").innerHTML = homePoints;
					document.getElementById("homeTally").innerHTML = homeTally;
					
				};

				function decHomePoint() {
					clickHomePoint -=1;
					totalHome -=1;
					homeTally -=1;
					homePoints -=1;

					document.getElementById("clickHomePoint").innerHTML = clickHomePoint;
					document.getElementById("totalHome").innerHTML = totalHome;
					document.getElementById("homePoints").innerHTML = homePoints;
					document.getElementById("homeTally").innerHTML = homeTally;
				};


				function incAwayGoal() {
					clickAwayGoal +=1;
					totalAway +=3;
					awayTally +=3;
					awayGoals +=1;

					document.getElementById("clickAwayGoal").innerHTML = clickAwayGoal;
					document.getElementById("totalAway").innerHTML = totalAway;
					document.getElementById("awayGoals").innerHTML = awayGoals;
					document.getElementById("awayTally").innerHTML = awayTally;
				};

				function decAwayGoal() {
					clickAwayGoal -=1;
					totalAway -=3;
					awayTally -=3;
					awayGoals -=1;

					document.getElementById("clickAwayGoal").innerHTML = clickAwayGoal;
					document.getElementById("totalAway").innerHTML = totalAway;
					document.getElementById("awayGoals").innerHTML = awayGoals;
					document.getElementById("awayTally").innerHTML = awayTally;
				};

				function incAwayPoint() {
					clickAwayPoint +=1;
					totalAway +=1;
					awayTally +=1;
					awayPoints +=1;

					document.getElementById("clickAwayPoint").innerHTML = clickAwayPoint;
					document.getElementById("totalAway").innerHTML = totalAway;
					document.getElementById("awayPoints").innerHTML = awayPoints;
					document.getElementById("awayTally").innerHTML = awayTally;
				};

				function decAwayPoint() {
					clickAwayPoint -=1;
					totalAway -=1;
					awayTally -=1;
					awayPoints -=1;

					document.getElementById("clickAwayPoint").innerHTML = clickAwayPoint;
					document.getElementById("totalAway").innerHTML = totalAway;
					document.getElementById("awayPoints").innerHTML = awayPoints;
					document.getElementById("awayTally").innerHTML = awayTally;
				};

				function incHomeYellow() {
					homeYellow +=1;
					document.getElementById("homeYellow").innerHTML = homeYellow;
				}

				function decHomeYellow() {
					homeYellow -=1;
					document.getElementById("homeYellow").innerHTML = homeYellow;
				}

				function incHomeBlack() {
					homeBlack +=1;
					document.getElementById("homeBlack").innerHTML = homeBlack;
				}

				function decHomeBlack() {
					homeBlack -=1;
					document.getElementById("homeBlack").innerHTML = homeBlack;
				}

				function incHomeRed() {
					homeRed +=1;
					document.getElementById("homeRed").innerHTML = homeRed;
				}

				function decHomeRed() {
					homeRed -=1;
					document.getElementById("homeRed").innerHTML = homeRed;
				}





	function incAwayYellow() {
					awayYellow +=1;
					document.getElementById("awayYellow").innerHTML = awayYellow;
				}

				function decAwayYellow() {
					awayYellow -=1;
					document.getElementById("awayYellow").innerHTML = awayYellow;
				}

				function incAwayBlack() {
					awayBlack +=1;
					document.getElementById("awayBlack").innerHTML = awayBlack;
				}

				function decAwayBlack() {
					awayBlack -=1;
					document.getElementById("awayBlack").innerHTML = awayBlack;
				}

				function incAwayRed() {
					awayRed +=1;
					document.getElementById("awayRed").innerHTML = awayRed;
				}

				function decAwayRed() {
					awayRed -=1;
					document.getElementById("awayRed").innerHTML = awayRed;
				}





			</script>
					<button type="button" onclick="incHomeGoal()" class="btn btn-primary">+</button>
					<button type="button" onclick="decHomeGoal()" class="btn btn-primary">-</button>

    		</div>

        <div class="actions">
		    	<button type="button" onclick="incHomePoint()" class="btn btn-primary">+</button>
				<button type="button" onclick="decHomePoint()" class="btn btn-primary">-</button>
    	</div>

 <div class="actions">
		    	<input type="submit" value="+" class="btn btn-primary">
					<button class="btn btn-warning">-</button>
					</a>
    		</div>

        <div class="actions">
		    	<button type="button" onclick="incHomeYellow()" class="btn btn-primary">+</button>
				<button type="button" onclick="decHomeYellow()" class="btn btn-primary">-</button>
    	</div>


        <div class="actions">
		    	<button type="button" onclick="incHomeBlack()" class="btn btn-primary">+</button>
				<button type="button" onclick="decHomeBlack()" class="btn btn-primary">-</button>
    	</div>

        <div class="actions">
		    	<button type="button" onclick="incHomeRed()" class="btn btn-primary">+</button>
				<button type="button" onclick="decHomeRed()" class="btn btn-primary">-</button>
    	</div>

		
				 </div>
		<div class="centre">
			<h3><a id="homeGoals">0</a>		Goals		<a id="awayGoals">0</a>	</h3>
			<h3><a id="homePoints">0</a>	Points		<a id="awayPoints">0</a></h3>
			<h3><a id="homeTally">0</a>		Total Points		<a id="awayTally">0</a>	</h3>
			<h3><a id="homeYellow">0</a>			Yellow Cards			<a id="awayYellow">0</a></h3>
			<h3><a id="homeBlack">0</a>			Black Cards			<a id="awayBlack">0</a></h3>
			<h3><a id="homeRed">0</a>		Red Cards			<a id="awayRed">0</a></h3>
		</div>

     <div class="RightPlayerStats">
			 <h3>  </h3>


        <div class="actions">
					<button type="button" onclick="incAwayGoal()" class="btn btn-primary">+</button>
					<button type="button" onclick="decAwayGoal()" class="btn btn-primary">-</button>
    		</div>

			<div class="actions">
		    	<button type="button" onclick="incAwayPoint()" class="btn btn-primary">+</button>
				<button type="button" onclick="decAwayPoint()" class="btn btn-primary">-</button>
    		</div>




    
        <div class="actions">
		    	<input type="submit" value="+" class="btn btn-primary">
					<button class="btn btn-warning">-</button>
					</a>
    		</div>

	        <div class="actions">
		    	<button type="button" onclick="incAwayYellow()" class="btn btn-primary">+</button>
				<button type="button" onclick="decAwayYellow()" class="btn btn-primary">-</button>
    	</div>


        <div class="actions">
		    	<button type="button" onclick="incAwayBlack()" class="btn btn-primary">+</button>
				<button type="button" onclick="decAwayBlack()" class="btn btn-primary">-</button>
    	</div>

        <div class="actions">
		    	<button type="button" onclick="incAwayRed()" class="btn btn-primary">+</button>
				<button type="button" onclick="decAwayRed()" class="btn btn-primary">-</button>
    	</div>
    </div>
					}



</div>
}
