@(fixture: List[models.Fixture], user: models.users.User)

@admin.adminMain("Fixture", user) {
    <!-- Page Content -->
    <div class="container">
        <!-- /.row -->
     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Fixture
                    <small>List of Fixtures</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@routes.HomeController.index()">Home</a>
                    </li>
                    <li class="active">Fixture</li>
                </ol>
            </div>
        </div>

        <!-- /.row -->
	@if(flash.containsKey("success")){
		<div class=-"alert alert-success">
			@flash.get("success")
		</div>
	}
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>FixtureID</th>
						<th>Date</th>
						<th>Time</th>
						<th>Home Team</th>
						<th>Goals</th>
						<th>Points</th>
						<th>Total Points</th>
						<th>Away Team</th>
						<th>Goals</th>
						<th>Points</th>
						<th>Total Points</th>
						<th>Home Yellows</th>
						<th>Home Blacks</th>
						<th>Home Reds</th>
						<th>Away Yellows</th>
						<th>Away Blacks</th>
						<th>Away Reds</th>
					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
				@for(f <- fixture) {
					<tr>
						<td>@f.getFid</td>
						<td>@f.getDate</td>
						<td>@f.getTime</td>
						<td>@f.getHomeTeam</td>
						<td>@f.getHomeScoreGoal</td>
						<td>@f.getHomeScorePoint</td>
						<td>@f.getHomeScore</td>
						<td>@f.getAwayTeam</td>
						<td>@f.getAwayScoreGoal</td>
						<td>@f.getAwayScorePoint</td>
						<td>@f.getAwayScore</td>
						<td>@f.getHomeYellows</td>
						<td>@f.getHomeBlacks</td>
						<td>@f.getHomeReds</td>
						<td>@f.getAwayYellows</td>
						<td>@f.getAwayBlacks</td>
						<td>@f.getAwayReds</td>					
						<td>
							<a href="@routes.AdminController.updateFixture(f.getFid)" class="btn-xs btn-danger">
							<span class="glyphicon glyphicon-pencil"></span></a>
						</td>

					</tr>
							}
				</tbody>
			</table>			
		</div>
	</div>

}

