@(league: List[models.League], user: models.users.User)

@admin.adminMain("League", user) {
    <!-- Page Content -->
    <div class="container">
        <!-- /.row -->
     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">League
                    <small>List of Leagues</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@routes.HomeController.index()">Home</a>
                    </li>
                    <li class="active">League</li>
                </ol>
            </div>
        </div>
    </div>
        <!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<table class="table table-bordered table-hover table-condensed">
		<thead>
			<!-- The header row-->
				<tr>
					<th>LeagueID</th>
					<th>League Name</th>
					<th>Start Date</th>
					<th>Finish Date</th>				
				</tr>
			</thead>
			<tbody>
				<!-- Product row(s) -->
						<!-- Start of For loop - For each p in products add a row -->
			@for(l <- league) {
				<tr>
					<td>@l.getLid</td>
					<td>@l.getName</td>
					<td>@l.getStartDate</td>
					<td>@l.getFinishDate</td>
					<td>@l.getSponsor</td>
				</tr>
						} 
			</tbody>
		</table>
	</div>
</div>


}
