@(player: List[models.Player], user: models.users.User)

@admin.adminMain("Player",user) {
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->                

            <div class="col-lg-12">
                <h1 class="page-header">Players
                    <small>List</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@routes.HomeController.index()">Home</a>
                    </li>
                    <li class="active">Player</li>
                </ol>
            </div>
        <!-- /.row -->
 

        <div class="row">
		    @if(flash.containsKey("success")) {
		    <div class=-"alert alert-success">
		        @flash.get("success")
		    </div>
	       }

                    <div class="col-sm-12">
            <table class="table table-bordered table-hover table-condensed">
            <thead>


          <!-- The header row-->
                <tr>
                    <th>Player ID</th>
                    <th>County</th>
                    <th>Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Position</th>
                    <th>Apperances</th>
                    <th>Club</th>
                    <th>Points</th>
                    <th>Yellows</th>
                    <th>Blacks</th>
                    <th>Reds</th>
                </tr>
          </thead>
          <tbody>
            <!-- Product row(s) -->
					<!-- Start of For loop - For each p in products add a row -->
	        @for(p <- player) {
	            <tr>
                    <td>@p.getPid</td>
                    <td>@p.getCounty</td>
                    <td>@p.getNum</td>
                    <td>@p.getFname</td>
                    <td>@p.getLname</td>
                    <td>@p.getAge</td>
                    <td>@p.getPos</td>
                    <td>@p.getApps</td>
                    <td>@p.getClub</td>
                    <td>@p.getPoints</td>
                    <td>@p.getYellows</td>
                    <td>@p.getBlacks</td>
                    <td>@p.getReds</td>

                <td>
					<a href="@routes.AdminController.updatePlayer(p.getPid())" class="btn-xs btn-danger">
					<span class="glyphicon glyphicon-pencil"></span></a>
				</td>
	</tr>
					} 

          </tbody>
        </table>
</div>
	
}
