@(referee: List[models.Referee], user: models.users.User)

@admin.adminMain("Referee", user) {
    <!-- Page Content -->
    <div class="container">
        <!-- /.row -->
     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Referee
                    <small>List of Referees</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@routes.HomeController.index()">Home</a>
                    </li>
                    <li class="active">Referee</li>
                </ol>
            </div>
        </div>
    
        <!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<!-- The header row-->
				<tr>
					<th>RefereeID</th>
					<th>Name</th>
					<th>County</th>
				</tr>
			</thead>
			<tbody>
				<!-- Product row(s) -->
						<!-- Start of For loop - For each p in products add a row -->
			@for(r <- referee) {
				<tr>
					<td>@r.getRid</td>
					<td>@r.getName</td>
					<td>@r.getCounty</td>
					<td>
						<a href="@routes.AdminController.deleteReferee(r.getRid)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
						<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
					</tr>
						} 
			</tbody>
		</table>
		<p>
			<a href="@routes.AdminController.addReferee()">
			<button class="btn btn-primary">Add a Referee</button></a>
		</p>
	</div>
</div>
	<script>
		function confirmDel() {
			return confirm('Are you sure');
		}
	</script>
	


}
