@(team: List[models.Team], user: models.users.User)

@admin.adminMain("Team", user) {
    <!-- Page Content -->
    <div class="container">
        <!-- /.row -->
     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Team
                    <small>List of Teams</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@routes.HomeController.index()">Home</a>
                    </li>
                    <li class="active">Team</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

<div class="row">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
          <!-- The header row-->
			<tr>
				<th>TeamID</th>
				<th>County</th>
				<th>Province</th>
				<th>Manager</th>
				<th>Stadium</th>
				<th>Games Played</th>
				<th>Games Won</th>
				<th>Games Drew</th>
				<th>Games Lost</th>
				<th>Points Scored</th>
				<th>Points Conceeded</th>
				<th>League Points</th>
				<th>Total Yellow Cards</th>
				<th>Total Black Cards</th>
				<th>Total Red Cards</th>
			
			</tr>
        </thead>
		<tbody>
            <!-- Product row(s) -->
					<!-- Start of For loop - For each p in products add a row -->
		@for(t <- team) {
			<tr>
				<td>@t.getTid</td>
				<td>@t.getName</td>
				<td>@t.getProv</td>
				<td>@t.getManager</td>
				<td>@t.getStadium</td>
				<td>@t.getGamesPlayed</td>
				<td>@t.getGamesWon</td>
				<td>@t.getGamesDrew</td>
				<td>@t.getGamesLost</td>
				<td>@t.getPointsFor</td>
				<td>@t.getPointsAgainst</td>
				<td>@t.getLeaguePoints</td>
				<td>@t.getYellows</td>
				<td>@t.getBlacks</td>
				<td>@t.getReds</td>

				<td>
					<a href="@routes.AdminController.updateTeam(t.getTid)" class="btn-xs btn-danger">
					<span class="glyphicon glyphicon-pencil"></span></a>
				</td>

			</tr>
					} 
         </tbody>
    </table>

</div>




}
