@(user: models.users.User)

@main("User", user)  {

<section>
  <div class="single-page main-grid-border">
    <div class="container">

      <div class="row">
        <div class="col-sm-10">
          <div class="well">
            <h4>User Details</h4>
            	@if(flash.containsKey("error")) {
				<div class="alert alert-warning">
				@flash.get("loginRequired")
				</div>
			}
          </div>
        </div>
        <div class="col-sm-10">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <!-- The header row-->
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
        
              </tr>
            </thead>
                <tbody>

            <tr>

            
                <td>@user.getName</td>
                <td>@user.getEmail</td>
                <td>@user.getPassword</td>

        
       <td>
                  				
                  <a href= class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>


                </td>
         
               
                
            </tbody>
 
          </table>


        </div>



      </div>

    </div>
  </div>


  <script> 
  function confirmDelete() {
    return confirm('Are you sure?');
  }
  </script>
</section>



}