@(allFixtures: List[models.Fixture],roundHeaders: List[models.League],user: models.users.User)
@main("Fixture", user) {

<div class="container">
<div class="col-m-4">
  </div>

<div class="col-m-4">
    <div class="panel panel-default">

<div class="panel-heading">


    @for(h <-roundHeaders){
      <tr>
          <h3>
          <td>@h.getName </td>
          <td>@h.getSponsor </td>
          </h3>
      </tr>
    }

</div>

  @for(f <- allFixtures) {
					<tr>
             <h5><td>@f.getDate</td>
           <td>@f.getTime</td> 
						 <td>@f.getHomeTeam</td>
           <td> -v- </td> 
					<td>@f.getAwayTeam</td> </h5>
          </tr>
    }

</div>


</div>

</div>
}