@(team: List[models.Team], highestScorers: List[models.Team], smallFixture: List[models.Fixture], smallResults: List[models.Fixture], user: models.users.User)
	
@main("Home", user) {	
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
			<hr>

            <div class="col-lg-9">
				<img src="@routes.Assets.versioned("images/bethereall.jpg ")" draggable="false" height="100px" width="400px">
				<!-- image from Google Images -->
			</div>

			<div class="col-lg-3">
				<img src="@routes.Assets.versioned("images/allianzFoot.jpg ")" draggable="false" height="125px" width="255px">
				<!-- image from Google Images -->
			</div>
         </div>  

		 <hr>
		 <div class="row">

		<div class ="col-md-9">
		<a href="http://www.the42.ie/kerry-dublin-report-3295155-Mar2017/">	<img src="@routes.Assets.versioned("images/champs.jpg ")" draggable="false" height="400px" width ="750px">
				<!-- image from Google Images -->
			<h4> Dublin still on course for league success, as their unbeaten run continues.</h4> </a>
			<hr>
		</div>

		<div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"><a href="@routes.HomeController.table()">Table</a> (Mini)</h4>
                    </div>
        	

			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Team</th>
                        <th>Point Difference</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
				@for(t <- team) {
                    
					<tr>
						<td>@t.getName</td>
                        <td>@t.getPointsDifference</td>
						<td>@t.getLeaguePoints</td>
					</tr>
							}
				</tbody>
			</table>			
		</div>
    </div>
	</div>
        <!-- /.row -->

		<div class ="row">
			<div class="col-md-3">
				<a href="http://www.irishmirror.ie/sport/gaa/gaelic-football/gaelic-football-news/relegation-looms-cavan-defeat-against-10048016">	<img src="@routes.Assets.versioned("images/artOne.jpg ")" draggable="false" height="200px" width ="250px">
				<!-- image from Google Images -->
				<h5> Cavan on the brink of Relegation.</h5></a>
				<hr>
				</div>

				<div class="col-md-3">
						<a href="http://www.rte.ie/sport/gaa/2017/0413/867500-darren-hughes-ruled-out-for-ulster-championship/">	<img src="@routes.Assets.versioned("images/artTwo.jpg ")" draggable="false" height="200px" width ="250px">
						<!-- image from Google Images -->
						<h5> Monaghan hit with injuries.</h5> </a>
						<hr>
					</div>
	

 	<div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><a href="@routes.HomeController.results()">Results</a> (Round 6)</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Date</th>
						<th>Home</th>
						<th>Home Score</th>
						<th>Away</th>
						<th>Away Score</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(r <- smallResults) {
					<tr>
						<td>@r.getDate</td>
						<td>@r.getHomeTeam</td>
						<td>@r.getHomeScoreGoal - @r.getHomeScorePoint (@r.getHomeScore)</td>
						<td>@r.getAwayTeam</td>
						<td>@r.getAwayScoreGoal - @r.getAwayScorePoint (@r.getAwayScore)</td>
					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>

		</div>

		


		<div class="row">

			<div class="col-md-8">
						<a href="http://www.independent.ie/sport/gaelic-games/gaelic-football/cork-continue-their-winless-start-to-life-in-division-2-as-kildare-maintain-100-record-35444553.html">	<img src="@routes.Assets.versioned("images/cork.jpg ")" draggable="false" height="250px" width ="600px">
						<!-- image from Google Images -->
						<h5> Corks promotion hopes look bleek.</h5> </a>
				</div>

			 <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"><a href="@routes.HomeController.fixtures()">Fixtures</a> (Round 7)</h4>
                    </div>
                  <table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Home</th>
						<th>Away </th>
					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
				@for(f <- smallFixture) {
                    
					<tr>
						<td>@f.getDate</td>
						<td>@f.getTime</td>
						<td>@f.getHomeTeam</td>
						<td>@f.getAwayTeam</td>
					</tr>
							}
				</tbody>
			</table>		
                </div>
				
            </div>
			
			</div>
      
<hr>


		</div>
		
}
  
   
