@(oldestPlayer: List[models.Player],topScorer: List[models.Player], youngestPlayer: List[models.Player], worstDefence: List[models.Team], bestDefence: List[models.Team], highestScorers: List[models.Team], dirtyPlayer: List[models.Player], dirtiestTeam: List[models.Team], user: models.users.User)
	
@main("Stats", user) {
<div class="container">

<div class="row">
        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Highest Scorers</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>County</th>
						<th>Points Total</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- topScorer) {
					<tr>
						<td>@t.getFname @t.getLname</td>
						<td>@t.getCounty</td>
						<td>@t.getPoints </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>

                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Oldest Players</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>County</th>
						<th>Age</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- oldestPlayer) {
					<tr>
						<td>@t.getFname @t.getLname</td>
						<td>@t.getCounty</td>
						<td>@t.getAge </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>

                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Youngest Players</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>County</th>
						<th>Age</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- youngestPlayer) {
					<tr>
						<td>@t.getFname @t.getLname</td>
						<td>@t.getCounty</td>
						<td>@t.getAge </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>


    </div>


    <div class ="row">


        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Worst Defence</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>Provence</th>
                        <th>Points Conceeded</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- worstDefence) {
					<tr>
						<td>@t.getName</td>
						<td>@t.getProv</td>
						<td>@t.getPointsAgainst </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>

                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Best Defence</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>Provience</th>
						<th>Points Conceeded</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- bestDefence) {
					<tr>
						<td>@t.getName</td>
						<td>@t.getProv</td>
						<td>@t.getPointsAgainst </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>

                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Top Scoring Team</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>Provience</th>
						<th>Points Total</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- highestScorers) {
					<tr>
						<td>@t.getName</td>
						<td>@t.getProv</td>
						<td>@t.getPointsFor </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>




    </div>

    <div class="row">

                        <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Dirtiest Teams</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>Prov</th>
						<th>Yellow Cards</th>
                        <th>Black Cards</th>
                        <th>Red Cards</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- dirtiestTeam) {
					<tr>
						<td>@t.getName</td>
						<td>@t.getProv</td>
						<td>@t.getYellows </td>
                        <td>@t.getBlacks </td>
                        <td>@t.getReds </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>





                        <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Dirtiest Players</h4>
                    </div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Name</th>
						<th>County</th>
						<th>Yellow Cards</th>
                        <th>Black Cards</th>
                        <th>Red Cards</th>

					</tr>
				</thead>
				<tbody>
					<!-- Product row(s) -->
							<!-- Start of For loop - For each p in products add a row -->
               
                
				@for(t <- dirtyPlayer) {
					<tr>
						<td>@t.getFname @t.getLname</td>
						<td>@t.getCounty</td>
						<td>@t.getYellows </td>
                        <td>@t.getBlacks </td>
                        <td>@t.getReds </td>

					</tr>
                            
                            }

				</tbody>
			</table>	
			
                </div>
			<hr>	
        </div>




    </div>



            
</div>
}
