@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._
	
@main("Login", user) {

<div class="row">
	<div class ="col-xs-4">
		</div>
		
		<div class="col-xs-4">
			<h3>Sign In</h3>
			@if(loginForm.hasGlobalErrors) {
				<p class="alert alert-warning">
				@loginForm.globalError.message
				</p>
			}
			@if(flash.containsKey("error")) {
				<div class="alert alert-warning">
				@flash.get("loginRequired")
				</div>
			}
			@helper.form(action = controllers.security.routes.LoginController.loginSubmit()) {
				<div class="form-group">
					@inputText(loginForm("email"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Email")
				</div>
				<div class="form-group">
					@inputPassword(loginForm("password"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Password")
				</div>
				<div class="form-group">
					<input type="submit" value="Sign In" class="btn btn-primary">
				</div>
			}

           </div> 

		   </div>
	}