@(Results: List[models.Fixture],roundHeaders: List[models.League],user: models.users.User)
@main("Results", user) {
  <div class ="container">


    <div class="panel panel-default">

<div class="panel-heading">
    @for(h <-roundHeaders){
      <tr>
          <h3>
          <td>@h.getName </td>
          <td>@h.getSponsor </td>
          </h3>
      </tr>
    }
    </div>

    @for(r <- Results) {
					<tr>
					<h5><td>@r.getDate</td> 
						<td>@r.getTime</td>
						<td>@r.getHomeTeam</td>
            <td>@r.getHomeScoreGoal -</td>
            <td>@r.getHomeScorePoint</td>
            <td>(@r.getHomeScore)</td>
            <td> -v- </td>
						<td>@r.getAwayTeam</td>
            <td>@r.getAwayScoreGoal -</td>
            <td>@r.getAwayScorePoint</td>
            <td>(@r.getAwayScore)</td> </h5>
          </tr>
    }
    </div>

    </div>
}