@(leagueTable: List[models.Team],user: models.users.User)
@main("Table", user) {


<div class="container">
    <h3>Allianz National Football League Division 1</h3>
    <hr>
    <table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Team</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Drew</th>
                        <th>Lost</th>
                        <th>For</th>
                        <th>Against</th>
                        <th>Difference</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>

    @for(t <- leagueTable){
        <tr>

            <td>@t.getName</td>
            <td>@t.getGamesPlayed</td>
            <td>@t.getGamesWon</td>
            <td>@t.getGamesDrew</td>
            <td>@t.getGamesLost</td>
            <td>@t.getPointsFor</td>
            <td>@t.getPointsAgainst</td>
            <td>@t.getPointsDifference</td>
            <td>@t.getLeaguePoints</td>


        
    }
    </tbody>

    </table>
    </div>
}